@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #1A0B2E;
}
.bg-card{
    background-color: #240f3f;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.container{
    text-wrap: wrap;
    width: 1200px;
    height: 784px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 200px);
}
.card-box{
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 15px;
}

.Audio{
    grid-column: span 2;
    grid-row: span 2;

}
.Mobile{
    grid-column: span 4;
    grid-row: span 1;
}

.Exclusive{
    grid-column: span 4;
    grid-row: span 1;
}
.Rich{
    grid-column: span 2;
    grid-row: span 1;
}



/* video style start */

 .video{
        
        border-radius: 10px;
        max-width: 300px;
        max-height: 476px;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        background-color: #f7ebfa;
        box-shadow: 0 6px 50px 0 #0000005e;
    }
    .video .img{
        width: 100%;
        align-items: center;
        margin: 0 auto;
        border-radius: 10px; 
    }
   




/* 10:04pm
1/19/2026 */










@media screen and (max-width:576px){
    .container{
        display: block;
        width: 100%;
       
    }
    .card-box{
        width: 280px;
        height: 310px;
        padding: 20px;
        justify-content: center;
        
    }
}